/*Prima di tutto inserisco il reset*/

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*fine reset*/

/*Una volta inserito il reset dello stile posso andare a cambiarlo a mio piacimento*/

/* Stili globali per il body */

    body {
        font-size: 130%;
        line-height: 1.2em; /* Altezza della linea per una buona leggibilità */
        background-color: white; /* Colore di sfondo del body */
        color: black; /* Colore del testo principale */
        margin: none; /* Rimuove il margine esterno */
        padding: none; /* Rimuove il padding */
        text-indent: 1em;
    }

    h2{
        line-height:1.8em;
    }

/* Header */
    header {
        background: #333; /* Colore di sfondo dell'intestazione */
        color: #fff; /* Colore del testo */
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 70px; /* Altezza minima */
    }

    header h1 {
        font-size: 150%;
        font-weight: bold ;
        line-height:1.5em;
    }

    /* Elementi di navigazione */
    header nav li {
        display: inline; /* Disposizione in linea */
        margin-right: 20px;
    }

    .container{
        width: 90%; /* Larghezza del contenitore principale */
        margin: auto; /* Centra il contenuto */
    }

    header nav a {
        color: lightgray; 
    }

    /*Stile per menù a tendina*/

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropbtn {
        background-color: #4a4848; /* Cambia colore pulsante */
        color: rgb(226, 222, 222);
        padding: 14px;
        font-size: 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color:  #4a4848; /* Cambia colore menu */
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 5px;
    }
    
    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color:  #6f6c6c; /* Cambia colore hover */
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color:   #6f6c6c; /* Cambia colore pulsante al passaggio del mouse */
    }


/*article*/

    article{
        margin: none;
        padding: 3.5em; 
    }

    article h1{
        font-size: 150%;
        font-weight: bold ;
        line-height:2em;
    }

    article h2{
        font-size: 130%;
        font-weight: bold ;
        line-height:1.5em;
    }

    .box{
        width: 90%; /* Larghezza del contenitore principale */
        margin: auto; /* Centra il contenuto */
    }

    .elenco{
        width: 92%;
        margin: auto; 
    }

    article nav li{
        list-style-type: disc;
        text-indent: 0em;
    }

    article nav a {
        color: blue; 
    }

    .background-code{
        color: lightgray;
    }